# Virtual environments
venv/
.env

# FAISS & embedding indexes
*.faiss
*.index

# Cached Python files
__pycache__/
*.pyc

# Data
*.csv
*.zip
*.tsv
*.xls*
*.log

# OS + editor files
.DS_Store
*.swp
.idea/
.vscode/

# Ollama model cache (if inside folder)
models/


# Don't track any files in the docs/ folder
docs/*
!docs/.gitkeep   # keep the folder visible in Git


